@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ecip9g');
  src:  url('fonts/icomoon.eot?ecip9g#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ecip9g') format('truetype'),
    url('fonts/icomoon.woff?ecip9g') format('woff'),
    url('fonts/icomoon.svg?ecip9g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e900";
}
.icon-whatshot:before {
  content: "\e901";
}
.icon-vk:before {
  content: "\e902";
}
.icon-paw:before {
  content: "\f1b0";
}
.icon-gift:before {
  content: "\e99f";
}
