*{
   box-sizing: border-box;
}

/*-------------------------------ШАПКА---------------------------*/ 
header
{
   display: block;
   position: relative;
   background-color: white;
   height: 92px;
   width: 100%;
   margin: 0 auto;
}


.logotip
{
   height: 64px;
   width: 194px;
   margin-left: 10.9%;
   margin-top: 0.7%;
   position: absolute;
   
}

.search 
{
   margin-top: 1.5%;
   margin-left: 23.5%;
   position: absolute;
   width: 288px;
  
}
input, button 
{
   border: none;
   outline: none;
   background: transparent;
}

input 
{
   margin-top: 1.5%;
   width: 288px;
   height: 42px;
   margin-left: 23%;
   padding-left: 5%;
   border: 2px solid rgb(171, 175, 175);
   border-radius: 20px;
   outline: none;
   background: white;
   color: #9E9C9C;
 }

 button 
 {
   height: 42px;
   width: 42px;
   position: absolute;
   top: 0;
   right: 0;
   cursor: pointer;
 }
 
button:after {
   content: "\e905";
   font-family: 'icomoon';
   color: #9E9C9C;
 }




 


/*-------------------------------МЕНЮ НАВИГАЦИИ---------------------------*/ 




#menu
{

   height: 50px;
   width: 100%;
   background-color: #2CAD11;

}

#cat
{
   margin-bottom: 0.3%;
   border-left: ridge 2px  #31C412; 
   padding-top: 0.9%;
   margin-left: 10.9%;
   height: 45px;
   width: 155px;
   text-align: center;
}
#cat a
{
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   color: white;
   text-decoration: none;
}

#cat :before {
   padding-right: 12px;
   content: "\e917";
   font-family: 'icomoon';
   color:rgb(255, 255, 35);
   
 }
 #cat :after
{
   padding-left: 12px;
   content: "\e903";
   font-family: 'icomoon';
}

#dog
{
   margin-bottom: 0.3%;
   border-left: ridge 2px  #31C412; 
   padding-top: 0.9%;
   height: 45px;
   width: 155px;
   text-align: center;
}

#dog a
{  
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   color: white;
   text-decoration: none;
}

#dog  :before {
   padding-right: 12px;
   content: "\e916";
   font-family: 'icomoon';
   color:rgb(255, 255, 35);
 }
 #dog :after
{
   padding-left: 12px;
   content: "\e903";
   font-family: 'icomoon';
}

#allpet
 {
   margin-bottom: 0.3%;
   border-left: ridge 2px  #31C412; 
   padding-top: 0.9%;
   height: 45px;
   width: 225px;
   text-align: center;
    white-space: nowrap;
 }
 
 #allpet a
 {  
        font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
 }
 
 #allpet  :before {
    padding-left: 12px; 
    padding-right: 12px;
    content: "\f1b0";
    font-family: 'icomoon';
    color:rgb(255, 255, 35);
  }

  #allpet :after
{
   padding-left: 12px;
   content: "\e903";
   font-family: 'icomoon';
}

#usshop
{
   margin-bottom: 0.3%;
   border-left: ridge 2px  #31C412; 
   padding-top: 0.9%;
   height: 45px;
   width: 195px;
   text-align: center;
   white-space: nowrap;
}

#usshop a
{  
       font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   color: white;
   text-decoration: none;
}

#devandpay 
{
   margin-bottom: 0.3%;
   border-left: ridge 2px  #31C412; 
   padding-top: 0.9%;
   height: 45px;
   width: 225px;
   text-align: center;
   white-space: nowrap;
}

#devandpay a
{  
       font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   color: white;
   text-decoration: none;
}

#underhead
{
   height: 50px;
   width: 100%;
   background-color: rgb(221, 220, 220);
}

#sale
{
   margin-bottom: 0.3%;
   border-left: ridge 2px  #31C412; 
   padding-top: 0.9%;
   height: 45px;
   width: 155px;
   text-align: center;
   white-space: nowrap;
}

#sale a
{  
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   color: white;
   text-decoration: none;
}

#sale  :before {
   padding-right: 12px;
   content: "\e901";
   font-family: 'icomoon';
   color:rgb(255, 255, 35);
 }
 #sale :after
{
   padding-left: 12px;
   content: "\e903";
   font-family: 'icomoon';
}

#akcii
{
   margin-bottom: 0.3%;
   border-left: ridge 2px  #31C412; 
   padding-top: 0.9%;
   height: 45px;
   width: 155px;
   text-align: center;

}

#akcii a
{  
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   color: white;
   text-decoration: none;
}

#akcii  :before {
   padding-right: 12px;
   content: "\e912";
   font-family: 'icomoon';
   color:rgb(255, 255, 35);
 }
 #akcii :after
{
   padding-left: 12px;
   content: "\e903";
   font-family: 'icomoon';
}

#cont
{
   margin-bottom: 0.3%;
   border-left: ridge 2px  #31C412; 
   padding-top: 0.9%;
   height: 45px;
   width: 155px;
   text-align: center;
   white-space: nowrap;
}

#cont a
{  
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   color: white;
   text-decoration: none;
}

#vk
{
   margin-bottom: 0.3%;
   border-left: ridge 2px  #31C412; 
   padding-top: 0.9%;
   height: 45px;
   width: 65px;
   text-align: center;
   white-space: nowrap;
}

#vk a
{  
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   color: white;
   text-decoration: none;
}

#vk  :before {

   content: "\e902";
   font-family: 'icomoon';
   color:rgb(255, 255, 35);
 }

#inst
{
   margin-bottom: 0.3%;
   border-right: ridge 2px  #31C412; 
   padding-top: 0.9%;
   height: 45px;
   width: 65px;
   text-align: center;
   white-space: nowrap;
}

#inst a
{  
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   color: white;
   text-decoration: none;
}

#inst  :before {
   
   content: "\e900";
   font-family: 'icomoon';
   color:rgb(255, 255, 35);
 }