.logotip
{
   margin-left: 7%;
   position: relative;
}
.search{
   position: absolute;
   display: inline-block;
   border-radius: 25px;
   border: 2px solid black;
   width: 284px;
   height: 40px;
}
.menu
{
   height: 45px;
   width: 100%;
   background-color: #1dd123
}
.cat{
   margin-left: 7%;
   padding-left: 25px;
   background-image: url(cat.svg);
   background-repeat: no-repeat;
}
.cat:before{
   content: "";
   background-color: #fff;
}
